
<div class="blog-post snippet">
  <h1 class="title"> Capturing WebCam with getUserMedia and canvas </h1>

  <a href="https://github.com/elgervb/JSWebcam"><img style="position: absolute; top: 0; right: 0; border: 0;" src="https://camo.githubusercontent.com/38ef81f8aca64bb9a64448d0d70f1308ef5341ab/68747470733a2f2f73332e616d617a6f6e6177732e636f6d2f6769746875622f726962626f6e732f666f726b6d655f72696768745f6461726b626c75655f3132313632312e706e67" alt="Fork me on GitHub" data-canonical-src="https://s3.amazonaws.com/github/ribbons/forkme_right_darkblue_121621.png"></a>

  <p>Work in progress...</p>


  <p>The <code>Navigator.getUserMedia()</code> lets you capture audio and video right from your browser. A cross browser implementation of this HTML5 API is available through the <code>JSWebcam</code> library. You can find it on <a href="https://github.com/elgervb/JSWebcam" target=_BLANK>GitHub</a>.</p>

  
  <img src="{siteurl}/static/img/blog/capturing-webcam/browser-notification.png" alt="browser notification" />


  <h2 class="subtitle">Demo</h2>

  <div>
    <button class="btn-red btn-webcam-start">Start webcam</button>
    <button class="btn-red btn-image hide">Capture image</button>
    <button class="btn-red btn-webcam-stop hide">Stop Capturing</button>
  </div>
  <div>
    <video id="video" autoplay class="hide"></video>
    <img src="" class="image hide" />
  </div>


  <h2 class="subtitle">API</h2>

  <table class="table">
    <thead>
      <tr>
        <th>Method</th>
        <th>Description</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>element</td>
        <td>Returns the actual video HTMLElement</td>
      </tr>
      <tr>
        <td>fallback</td>
        <td>Fallback mechanism to select files. Use this when you want to take pics from a mobile device or upload pictures from disc</td>
      </tr>
      <tr>
        <td>isStarted</td>
        <td>Checks whether the webcam is started</td>
      </tr>
      <tr>
        <td>isSupported</td>
        <td>Checks whether or not the API is supported by the browser</td>
      </tr>
      <tr>
        <td>start</td>
        <td>Enables the webcam, will ask the user to share his webcam</td>
      </tr>
      <tr>
        <td>stop</td>
        <td>Stops the Webcam object</td>
      </tr>
      <tr>
        <td>takePicture</td>
        <td>Take a still image of the webcam, returns a Blob</td>
      </tr>
      <tr>
        <td>uriToBlob</td>
        <td>Takes in a dataUri and transforms it into a Blob</td>
      </tr>
      <tr>
        <td>useFallback</td>
        <td>Sets if a fallback mechanism should be in place to select files. Set this to true when you want to take pics from a mobile device or upload pictures from dics</td>
      </tr>
    </tbody>
  </table>


  <h2 class="subtitle"> Reference </h2>

  <ul>
    <li><a href="http://dev.w3.org/2011/webrtc/editor/archives/20140619/getusermedia.html">http://dev.w3.org/2011/webrtc/editor/archives/20140619/getusermedia.html</a></li>
    <li><a href="http://dev.w3.org/2009/dap/camera/">http://dev.w3.org/2009/dap/camera/</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/NavigatorUserMedia.getUserMedia">https://developer.mozilla.org/en-US/docs/NavigatorUserMedia.getUserMedia</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/Guide/API/WebRTC">https://developer.mozilla.org/en-US/docs/Web/Guide/API/WebRTC</a></li>
    <li><a href="http://www.html5rocks.com/en/tutorials/getusermedia/intro/">http://www.html5rocks.com/en/tutorials/getusermedia/intro/</a></li>
  </ul>



  <div class="item-navigation">
    <a class="previous" href="{siteurl}/blog/sublime-text-exclude-folders">« previous</a>
    <a class="next" href="{siteurl}/blog/cleanup-google-analytics-with-htaccess">next »</a>
  </div>

  
</div>

<script>

  document.addEventListener('DOMContentLoaded', function () {
  
    var webcam = new Webcam('#video');
    webcam.useFallback(true);

    /**
     * Start webcam
     */
    document.querySelector('.btn-webcam-start').addEventListener('click', function(e){
      if (webcam.isSupported()) {
          webcam.start({video: true, audio: false}, function(stream) {
            document.getElementById('video').classList.remove('hide');
            document.querySelector('.btn-webcam-start').classList.add('hide');
            document.querySelector('.btn-image').classList.remove('hide');
            document.querySelector('.btn-webcam-stop').classList.remove('hide');
          }, function(e) {
            alert('Oops, something went wrong');
          });
      }
      else {
        if (window.navigator.userAgent.match(/Mobi/)){ // mobile browser...
          webcam.useFallback(true);
        }
          else{
            alert('API is not supported by your browser');
          }
      }
    }, false);

    /*
     * Stop webcam
     */
    document.querySelector('.btn-webcam-stop').addEventListener('click', function(e){
      webcam.stop();
      document.getElementById('video').classList.add('hide');
      document.querySelector('.btn-webcam-start').classList.remove('hide');
      document.querySelector('.btn-image').classList.add('hide');
      document.querySelector('.btn-webcam-stop').classList.add('hide');
    }, false);

    /**
     * Capture picture from webcam
     */
    document.querySelector('.btn-image').addEventListener('click', function(e){
      if (webcam.isStarted()){
        // now take an picture using the webcam and make a square centered thumb
        webcam.takePicture(function(pic){
          // and assign it to an image
          document.querySelector('.image').src = pic;
          document.querySelector('.image').classList.remove('hide');
        },function(ctx, canvas){
          var min = Math.min(canvas.width,canvas.height);
          var max = Math.max(canvas.width,canvas.height);
          canvas.width = min;
          canvas.height = min;
          ctx.drawImage(webcam.element(), (max-min)/2, 0, min,min, 0,0,min,min);
        });
      }
    }, false);

  });
</script>

<style>

</style>