
<div class="blog-post snippet">
  <h1 class="title"> Cross browser scrollTop </h1>

  <p>Detect when the user scrolls in the browser and act on it...</p>

<pre><code class="javascript">
  window.onscroll = function(){
    var scrollTop = (document.documentElement &amp;&amp; document.documentElement.scrollTop) || document.body.scrollTop;
    if (scrollTop){
      // do something here
    }
    else{
       // do something here
    }
  }
</code></pre>

  <div class="item-navigation">
    <a class="previous" href="{siteurl}/blog/create-guid">« previous</a>
    <a class="next" href="{siteurl}/blog/inspect-postmessage-events">next »</a>
  </div>

</div>
