<div class="blog-post">

  <h1 class="title">Firefox extensions</h1>

  <p>I've made a list of other Firefox extensions I use regularly:</p>

  <ol class="count">
    <li class="clearfix"> 
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/" target=_BLANK>Adblock</a></div>
        <div class="col-70">Adblock Plus blocks all annoying ads, and supports websites by not blocking unobtrusive ads by default </div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/all-in-one-gestures/" target=_BLANK>All in one gestures</a></div>
        <div class="col-70">This extension allows you to execute common commands using mouse gestures, rocker navigation, scroll wheel navigation and page scrolling.</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/firebug/" target=_BLANK>firebug</a></div>
        <div class="col-70">irebug integrates with Firefox to put a wealth of development tools at your fingertips while you browse. You can edit, debug, and monitor CSS, HTML, and JavaScript live in any web page</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/codeburner-for-firebug/" target=_BLANK>Codeburner</a></div>
        <div class="col-70">CodeBurner is a Firefox add-on that integrates with Firebug, to extend it with reference material for HTML and CSS.</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/colorzilla/" target=_BLANK>Colorzilla</a></div>
        <div class="col-70">Advanced Eyedropper, Color Picker, Gradient Generator and other colorful goodies</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/firebug-autocompleter/" target=_BLANK>Firebug autocomplete</a></div>
        <div class="col-70">Firebug command line autocomplete</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/html-validator/" target=_BLANK>Html validator</a></div>
        <div class="col-70">HTML Validator is a Mozilla extension that adds HTML validation inside Firefox and Mozilla. The number of errors of a HTML page is seen on the form of an icon</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/jsonview/" target=_BLANK>JSON viewer</a></div>
        <div class="col-70">View JSON documents in the browser</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/measureit/" target=_BLANK>Measure it</a></div>
        <div class="col-70">Draw a ruler across any webpage to check the width, height, or alignment of page elements in pixels.</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/mobileview/" target=_BLANK>Mobile View</a></div>
        <div class="col-70">MobileView shows a panel with the current Tab content in phone-like panel</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/screengrab-fix-version/" target=_BLANK>Screen grab</a></div>
        <div class="col-70">Screengrab! saves webpages as images</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/scriptish/" target=_BLANK>Scriptish</a></div>
        <div class="col-70">The greatest user script engine on the Internet (a fork of Greasemonkey).</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/" target=_BLANK>SQlite manager</a></div>
        <div class="col-70">Manage any SQLite database on your computer.</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/tamper-data/" target=_BLANK>Tamper data</a></div>
        <div class="col-70">Use tamperdata to view and modify HTTP/HTTPS headers and post parameters</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/wappalyzer/" target=_BLANK>Wappalizer</a></div>
        <div class="col-70">Wappalyzer is a browser extension that identifies software on websites</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/addon/web-developer/" target=_BLANK>Web Developer</a></div>
        <div class="col-70">The Web Developer extension adds various web developer tools to the browser</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/nl/firefox/addon/unmht/" target=_BLANK>UnMHT</a></div>
        <div class="col-70">UnMHT allows you to view MHT (MHTML) web archive format files, and save complete web pages, including text and graphics, into a single MHT file in Firefox/SeaMonkey</div>
    </li>
    <li class="clearfix">  
        <div class="col-30"><a href="https://addons.mozilla.org/en-US/firefox/collections/jbalogh/firebug_addons/" target=_BLANK>Firebug addons</a></div>
        <div class="col-70">Add-ons that extend Firebug</div>
    </li>
  </ol>

  <div class="item-navigation">
    <a class="previous" href="{siteurl}/blog/webdevelopment-with-firefox">« previous</a>
    <a class="next" href="{siteurl}/blog/getting-stared-with-gulpjs">next »</a>
  </div>


</div>
