<div class="blog-post">

  <h1>Firefox extensions</h1>

  <p>I've made a list of other Firefox extensions I use regularly:</p>

  <ol class="count">
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/" target=_BLANK>Adblock</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/all-in-one-gestures/" target=_BLANK>All in one gestures</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/firebug/" target=_BLANK>firebug</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/codeburner-for-firebug/" target=_BLANK>Codeburner</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/colorzilla/" target=_BLANK>Colorzilla</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/firebug-autocompleter/" target=_BLANK>Firebug autocomplete</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/html-validator/" target=_BLANK>Html validator</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/jsonview/" target=_BLANK>JSON viewer</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/measureit/" target=_BLANK>Measure it</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/mobileview/" target=_BLANK>Mobile View</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/screengrab-fix-version/" target=_BLANK>Screen grab</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/scriptish/" target=_BLANK>Scriptish</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/" target=_BLANK>SQlite manager</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/tamper-data/" target=_BLANK>Tamper data</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/wappalyzer/" target=_BLANK>Wappalizer</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/video-downloadhelper/" target=_BLANK>Video download helper</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/addon/web-developer/" target=_BLANK>Web Developer</a></li>
    <li> <a href="https://addons.mozilla.org/nl/firefox/addon/unmht/" target=_BLANK>UnMHT</a></li>
    <li> <a href="https://addons.mozilla.org/en-US/firefox/collections/jbalogh/firebug_addons/" target=_BLANK>Firebug addons</a></li>
  </ol>

  <div class="item-navigation">
    <a class="previous" href="{siteurl}/blog/webdevelopment-with-firefox">« previous</a>
    <a class="next" href="{siteurl}/blog/getting-stared-with-gulpjs">next »</a>
  </div>


</div>
