
<div class="blog-post snippet">
  <h1 class="title">Html5 desktop notifications</h1>

  <p>
    <button class="btn-flat-blue btn-notify">Show notification</button>
  </p>

  <div class="item-navigation">
    <a class="previous" href="{siteurl}/blog">« previous</a>
    <a class="next" href="{siteurl}/blog/cross-browser-scrolltop">next »</a>
  </div>

</div>

<script>
	 var notification, hidden, visible, visibilityChang;

	//first, do some prefix checking
	if (typeof document.hidden !== "undefined") { // Opera 12.10 and Firefox 18 and later support 
	  hidden = "hidden";
	  visible = "visible";
	  visibilityChange = "visibilitychange";
	} else if (typeof document.mozHidden !== "undefined") {
	  hidden = "mozHidden";
	  visible = "mozVisible";
	  visibilityChange = "mozvisibilitychange";
	} else if (typeof document.msHidden !== "undefined") {
	  hidden = "msHidden";
	  visible = "msVisible";
	  visibilityChange = "msvisibilitychange";
	} else if (typeof document.webkitHidden !== "undefined") {
	  hidden = "webkitHidden";
	  visible = "webkitVisible";
	  visibilityChange = "webkitvisibilitychange";
	}
	
	if (document.visibilityState === hidden){
	  // do the notificaton
	  if ("Notification" in window) { // check for support
	    if (Notification.permission === "granted") {
	      // If it's okay let's create a notification
	      notification = new Notification(message, {body: body, icon: 'static/css/img/audio.png'});
	    }
	    else if (Notification.permission !== 'denied') {
	      Notification.requestPermission(function (permission) {
	        // If the user is okay, let's create a notification
	        if (permission === "granted") {
	          notification = new Notification(message, {body: body, icon: 'static/css/img/audio.png'});
	        }
	      });
	    }
	  }
	}

</script>

