
<div class="blog-post snippet">
  <h1 class="title">Html5 desktop notifications</h1>

  <h3>Configure the notification</h3>
  <p class="field">
    <label for="title">Notification title</label>
    <input type="text" id="title" value="title" />
  </p>
  <p class="field">
    <label for="message">Notification message</label>
    <textarea id="message">Notification message</textarea>
  </p>
  <p class="field">
    <label>Icon</label>
    <span class="icons">
      <img class="notification-icon selected" src="{siteurl}/static/img/blog/notification/undefined.png"/>
      <img class="notification-icon" src="{siteurl}/static/img/blog/notification/audio.png" data-icon="{siteurl}/static/img/blog/notification/audio.png"/>
      <img class="notification-icon" src="{siteurl}/static/img/blog/notification/notification.png" data-icon="{siteurl}/static/img/blog/notification/notification.png"/>
    </span>
  </p>
  <p>
    <button class="btn-flat-blue btn-notify" id="btn-notify">Show notification</button>
  </p>
  
  <h3>Reading Material</h3>
  <ul>
  	<li><a href="https://developer.mozilla.org/en-US/docs/Web/API/notification" target=_BLANK>MDN Notifications API</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API" target=_BLANK>MDN Notifications API</a></li>
    <li><a href="https://developer.mozilla.org/en-US/docs/Web/API/Notifications_API/Using_the_Notifications_API" target=_BLANK>MDN Using the notifications API</a></li>
    <li><a href="https://developer.mozilla.org/en-US/Apps/Build/User_notifications/Notifying_users_via_the_Notification_and_Vibration" target=_BLANK>MDN Notifying users via the Notification and Vibration APIs</a></li>
  </ul>

  <div class="item-navigation">
    <a class="previous" href="{siteurl}/blog/xmlhttprequest-extended-with-promises">« previous</a>
    <a class="next" href="{siteurl}/blog/">next »</a>
  </div>

</div>

<style>
  .icons{
    display: inline;
  }
  .notification-icon{
    border: 2px solid transparent;
    cursor: pointer;
    height: 5em;
    width: 5em;
  }
  .notification-icon.selected{
    border-color: rgba(0,0,0,127);
  }

</style>

<script>
  var elements = document.querySelectorAll('.notification-icon');
  for (i = 0; i < elements.length; ++i) {
    elements[i].addEventListener('click', function(){
      document.querySelector('.notification-icon.selected').classList.remove('selected');
      this.classList.add('selected');
    }, false);
  }

  function showNotification(title, message, icon){
  	var notification;

    if ("Notification" in window) { // check for support
      if (Notification.permission === "granted") {
        // If it's okay let's create a notification
        notification = new Notification(title, {body: message, icon: icon});
      }
      else if (Notification.permission !== 'denied') {
        Notification.requestPermission(function (permission) {
          // If the user is okay, let's create a notification
          if (permission === "granted") {
            notification = new Notification(title, {body: message, icon: icon});
          }
        });
      }
      else {
        console.log("This browser does not support notifications.");
        alert("This browser does not support notifications.");
      }
    }
  }

  document.getElementById('btn-notify').addEventListener('click', function(){
    showNotification(
      document.getElementById('title').value, 
      document.getElementById('message').value,
      document.querySelector('.notification-icon.selected').dataset.icon
      );
  }, false);
	
</script>

