<div class="blog-post snippet">
  <h1 class="title"> Inspect postMessage </h1>
  
  <p>
  	Log postMessage events to your browser console and be able to inspect the event. Copy past following code into the console of you favorite browser and execute it, or append it to your page. Afterwards all postMessage events will be logged to your browser console.
  </p>

  <p>Event listeners for the <code>message</code> events will be applied recursively. <em>All</em> iframes (even iframe in iframe in iframe, etc) will log the events triggered by postMessage to the console. After initialisation a log will state how many iframe were recursively found in the current document.</p>

  <p>
  	When using FireFox in combination with Firebug, it will look something like this:
  </p>

  <p>
  	As you can see, both the target window as the originating window are logged. You can also inspect full event details by clicking on the final logged object.
  </p>

   <p>
  	<img src="{siteurl}/static/img/blog/postmessage.png" alt="Screenshot PostMessage in FireBug" />
  </p>

<code class="code-block">var listener = function(e){
  console.log('Caught ',e.type,' event from ',e.source.self, ' to ', e.target, ' origin ', e.origin, ' with data ', e.data, '. Full details: ', e);
};

function addToFrame(el){
  var frames = el.querySelectorAll('iframe'),
      ifrm = 0;
  for (var i=0; i&lt;frames.length; i++){
   frames[i].contentWindow.addEventListener("message",listener, true);
   ifrm += addToFrame(frames[i].contentWindow.document);
  }
  return i + ifrm;
}

window.addEventListener("message",listener, true);
var c = addToFrame(document);
console.log('Recursively added listener to main window and', c, 'frames');
</code>


	<h2> Demo </h2>

	<p>
		<input type="text" class="input message" value="My Message" />
		<button href="#" id="send-message" class="btn-flat-blue">Send message</button>
	</p>

	<p class="watch-console">Watch the console ;-)</p>


  <div class="item-navigation">
    <a class="previous" href="{siteurl}/blog/cross-browser-scrolltop">« previous</a>
    <a class="next" href="{siteurl}/blog/simulate-keydown-event-with-javascript">next »</a>
  </div>

</div>

	<script>
		document.getElementById('send-message').addEventListener('click', function(e){
			e.preventDefault();
      document.querySelector('.watch-console').style.display = 'block';
			window.postMessage(document.querySelector('.message').value, window.location.origin ); //
		});

		/*
		 * The actual postMessage code 
		 */
		var listener = function(e){
  console.log('Caught ',e.type,' event from ',e.source.self, ' to ', e.target, ' origin ', e.origin, ' with data ', e.data, '. Full details: ', e);
};

  function addToFrame(el){
    var frames = el.querySelectorAll('iframe'),
        ifrm = 0;
    for (var i=0; i<frames.length; i++){
     frames[i].contentWindow.addEventListener("message",listener, true);
     ifrm += addToFrame(frames[i].contentWindow.document);
    }
    return i + ifrm;
  }

  window.addEventListener("message",listener, true);
  var c = addToFrame(document);
  console.log('Recursively added listener to main window and', c, 'frames');

	</script>