
<div class="blog-post snippet">
  <h1> Simulate a keydown using Javascript </h1>

<pre><code class="javascript">
  var e = new Event("keydown");
  e.key="a";    // just enter the char you want to send 
  e.keyCode=e.key.charCodeAt(0);
  e.which=e.keyCode;
  e.altKey=false;
  e.ctrlKey=true;
  e.shiftKey=false;
  e.metaKey=false;
  e.bubbles=true;
  document.dispatchEvent(e);
</code></pre>

  <p>Just set the <code>altKey</code>, <code>ctrlKey</code>, <code>shiftKey</code>, <code>metaKey</code> keys to <code>true</code> to enable it.</p>

  <p><em>NOTE</em>: the <code>metaKey</code> is the Command key on a Mac or the Windows key on a Windows machine</p>

  <h3>Demo</h3>
  <p>
    <button class="btn-flat-blue trigger-event">Trigger Keydown event</button>
  </p>




  <h3> Press a key to see the key code</h3>
  <p>
    key <span id="keyValue"></span> = charCode <span id="charCode"></span> 
  </p>

  <div class="item-navigation">
    <a class="previous" href="{siteurl}/blog/inspect-postmessage-events">« previous</a>
    <a class="next" href="{siteurl}/blog/webdevelopment-with-firefox">next »</a>
  </div>

</div>


<script>
  document.querySelector('.trigger-event').addEventListener('click', function(e){
    e.preventDefault(); 

    var e = new Event("keydown");
    e.key="a";    // just enter the char you want to send 
    e.keyCode=e.key.charCodeAt(0);
    e.which=e.keyCode;
    e.altKey=false;
    e.ctrlKey=true;
    e.shiftKey=false;
    e.metaKey=false;
    e.bubbles=true;
    this.dispatchEvent(e);

  }, false);
  document.querySelector('.trigger-event').addEventListener('keydown', function(e){
    e.preventDefault();
    alert('Got keydown ' + e.key);
  },false);

  document.addEventListener('keydown', function(e){
    e.preventDefault();
    document.getElementById('keyValue').innerHTML = e.key;
    document.getElementById('charCode').innerHTML = e.keyCode;
  });

</script>