
<div class="blog-post">

  <h1 class="title">Sublime text: exclude folders from side bar</h1>

  <p>When developing <a href="" target=_BLANK title="Node JS">Node JS</a> applications, you alse get a <code>node_modules</code> directory. This direcotry contains all Node JS modules on which your project is depending.</p>

  <p>The problem I keep having is that, because the <code>node_modules</code> directory contains a very large number of files, Sublime Text will also index them. This takes up a lot of my processor capacity and leaves me with a burning laptop.</p>

  <p> Another thing is that the <code>Goto anything</code> (<code>CTRL-P</code>) will also search the <code>node_modules</code> directory, which in any case you just don't want. This takes up a lot of time and search results will not be clean.</p>

  <h2>Solution</h2>

  <p>Fortunately, Sublime text has a way to get past this. We can configure which directories to exclude from Sublime text.</p>

  <p>First of all we have to get the existing settings from the default settings. To do this, in Sublime go to Preferences, Settings - Default.</p>
  <div class="image-placeholder">
    <img src="{siteurl}/static/img/blog/sublime-text-settings-user-menu.png" alt="Sublime text settings" />
  </div>

  <p>There copy the <code>folder_exclude_patterns</code>, which will look something like:</p>
  <code class="code-block">"folder_exclude_patterns": [".svn", ".git", ".hg", "CVS"],</code>


  <p>After this, we have to copy this to the user settings to override this. In Sublime go to Preferences, Settings - User and add the <code>folder_exclude_patterns</code>. Add the <code>node_modules</code> to the array, leaving it to look like this:</p>

  <code class="code-block">"folder_exclude_patterns": [<b>"node_modules"</b>, ".svn", ".git", ".hg", "CVS"],</code>

  <p>This fix will result in <code>node_modules</code> directory not showing up in the side bar and search results</p>

  <div class="item-navigation">
    <a class="previous" href="{siteurl}/blog/getting-stared-with-gulpjs">« previous</a>
    <a class="next" href="{siteurl}/blog/capturing-webcam-with-getusermedia-and-canvas">next »</a>
  </div>
</div>