
<div class="blog-post">
	<h1 class="title">Webdevelopement with Firefox</h1>

	<p>When developing for the web, Firefox is still my favorite browser.</p>

	<p>The standard tooling from Firefox is pretty impressive. It has support standard things like the console, HTML inspector, a debugger, profiler and network monitor. What Firefox also offers is:
	<ol class="count">
		<li>a style editor which allows you to save the changed css</li>
		<li>tools to inspect canvas contexts</li>
		<li>storage to show you your cookies, <a href="https://developer.mozilla.org/nl/docs/IndexedDB" title="MDN indexedDB API" target=_BLANK>indexedDB</a>, local and session storage</li>
		<li>web audio contextvisualizer and audio node inspector for the <a href="https://developer.mozilla.org/en-US/docs/Web/API/Web_Audio_API" title"Web Audio API on MDN" target=_BLANK>Web Audio API</a></li>
		<li>Highlighter for newly painted areas, to visualize what's being updated</li>
		<li>3D view of your page. This is by far my favorite. Rotate and tilt the page until you've found the stacked layers you were looking for.</li>
		<li>a javascript scrathpad</li>
		<li>responsive design mode with simulated touch events</li>
		<li>a color picker</li>
		<li>a utility to take a fullpage screenshot</li>
	</ol>

	<p> All can be activeted when pressing CTRL-SHIFT+Q and going to the settings in the right upper corner of the toolbox.</p>

	<div class="image-placeholder">
		<img src="{siteurl}/static/img/trans.png" data-echo="{siteurl}/static/img/blog/firefox-toolbox-settings.png" alt="Firefox toolbox settings" title="Firefox toolbox settings" />
	</div>

	<p> A comprehensive guide is avaliable on <a href="https://developer.mozilla.org/en-US/docs/Tools" title="Firefox Developer Tools" target=_BLANK>Firefox Developer Tools</a></p>
	
	<h2>Firebug</h2>

	<p>But still, most of the time I use <a href="getfirebug.com" title="Firebug homepage"  target=_BLANK>Firebug</a>, available as a <a href="https://addons.mozilla.org/nl/firefox/addon/firebug/" title="Firebug: Firefox plugin"  target=_BLANK>Firefox extension</a>. </p>

	<p>After having it installed, it gives you all the goodies when you press F12</p>

	<div class="item-navigation">
    <a class="previous" href="{siteurl}/blog/simulate-keydown-event-with-javascript">« previous</a>
    <a class="next" href="{siteurl}/blog/firefox-extensions">next »</a>
  </div>


</div>