
<h1>Webdevelopement with FireFox</h1>

<ul>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/adblock-plus/">Adblock</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/all-in-one-gestures/">All in one gestures</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/firebug/">firebug</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/codeburner-for-firebug/">Codeburner</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/colorzilla/">Colorzilla</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/firebug-autocompleter/">Firebug autocomplete</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/html-validator/">Html validator</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/jsonview/">JSON viewer</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/measureit/">Measure it</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/mobileview/">Mobile View</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/screengrab-fix-version/">Screen grab</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/scriptish/">Scriptish</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/sqlite-manager/">SQlite manager</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/tamper-data/">Tamper data</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/wappalyzer/">Wappalizer</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/video-downloadhelper/">Video download helper</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/addon/web-developer/">Web Developer</a></li>
	<li> <a href="https://addons.mozilla.org/nl/firefox/addon/unmht/">UnMHT</a></li>
	<li> <a href="https://addons.mozilla.org/en-US/firefox/collections/jbalogh/firebug_addons/">Firebug addons</a></li>
</ul>