<div class="blog-list">	

  <article>
		<p class="post-date">
			<span class="day">4</span>
			<span class="month">Apr</span>
			<span class="year">2015</span>
		</p>

		<h2> <a href="{siteurl}/blog/getting-stared-with-gulpjs">Getting started with Gulp JS</a> </h2>

		<p>Getting started with Gulp JS.</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">9</span>
			<span class="month">Mar</span>
			<span class="year">2015</span>
		</p>

		<h2> <a href="{siteurl}/blog/firefox-extensions">Firefox extensions</a> </h2>

		<p>These are some extension I regularly use then developing with Firefox.</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">8</span>
			<span class="month">Mar</span>
			<span class="year">2015</span>
		</p>

		<h2> <a href="{siteurl}/blog/webdevelopment-with-firefox">Webdevelopment in Firefox</a> </h2>

		<p>Webdevelopment in Firefox.</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">5</span>
			<span class="month">Jan</span>
			<span class="year">2015</span>
		</p>

		<h2> <a href="{siteurl}/blog/simulate-keydown-event-with-javascript">Simulate keydown events</a> </h2>

		<p>Simulate keydown events.</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">20</span>
			<span class="month">Dec</span>
			<span class="year">2014</span>
		</p>

		<h2> <a href="{siteurl}/blog/inspect-postmessage-events">Inspect postmessage events</a> </h2>

		<p>Inspect postmessage events.</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">16</span>
			<span class="month">Dec</span>
			<span class="year">2014</span>
		</p>

		<h2> <a href="{siteurl}/blog/cross-browser-scrolltop">Cross browser scrolltop</a> </h2>

		<p>Cross browser scrolltop.</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">12</span>
			<span class="month">Nov</span>
			<span class="year">2014</span>
		</p>

		<h2> <a href="{siteurl}/blog/create-guid">Generate a Globally unique identifier (GUID)</a> </h2>

		<p>Generate a random GUID with javascript.</p>
	</article>

</div>
