<div class="blog-list">	


	<article>
		<p class="post-date">
			<span class="day">1</span>
			<span class="month">June</span>
			<span class="year">2015</span>
		</p>

		<h2> <a href="{siteurl}/blog/xmlhttprequest-extended-with-promises">XMLHttpRequest extended with promises</a> </h2>

		<p>Use the promise API to extends the XMLHttpReqest.</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">15</span>
			<span class="month">May</span>
			<span class="year">2015</span>
		</p>

		<h2> <a href="{siteurl}/blog/cleanup-google-analytics-with-htaccess">Cleanup Google Analytics from referal spam with htaccess</a> </h2>

		<p>Use .htaccess to block referal spam from Google Analytics, leaving only real visitor data in your reports.</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">12</span>
			<span class="month">May</span>
			<span class="year">2015</span>
		</p>

		<h2> <a href="{siteurl}/blog/capturing-webcam-with-getusermedia-and-canvas">Capturing images from the webcam</a> </h2>

		<p>Use this JavaScript library to capture the webcam stream and use HTML5's canvas to turn it into an image.</p>
	</article>

	<article>
		<p class="post-date">
			<span class="day">6</span>
			<span class="month">May</span>
			<span class="year">2015</span>
		</p>

		<h2> <a href="{siteurl}/blog/sublime-text-exclude-folders">Sublime text: exclude folders</a> </h2>

		<p>Exclude folders from Sublime text you won't need anyway.</p>
	</article>


  <article>
		<p class="post-date">
			<span class="day">4</span>
			<span class="month">Apr</span>
			<span class="year">2015</span>
		</p>

		<h2> <a href="{siteurl}/blog/getting-stared-with-gulpjs">Getting started with Gulp JS</a> </h2>

		<p>Getting started with Gulp JS.</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">9</span>
			<span class="month">Mar</span>
			<span class="year">2015</span>
		</p>

		<h2> <a href="{siteurl}/blog/firefox-extensions">Firefox extensions</a> </h2>

		<p>These are some extension I regularly use then developing with Firefox.</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">8</span>
			<span class="month">Mar</span>
			<span class="year">2015</span>
		</p>

		<h2> <a href="{siteurl}/blog/webdevelopment-with-firefox">Webdevelopment in Firefox</a> </h2>

		<p>With the variety of browser and tooling, my favorite browser for webdevelopment if Firefox. This is why..</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">5</span>
			<span class="month">Jan</span>
			<span class="year">2015</span>
		</p>

		<h2> <a href="{siteurl}/blog/simulate-keydown-event-with-javascript">Simulate keydown events</a> </h2>

		<p>Simulate keydown events in Vanilla Javascript</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">20</span>
			<span class="month">Dec</span>
			<span class="year">2014</span>
		</p>

		<h2> <a href="{siteurl}/blog/inspect-postmessage-events">Inspect postmessage events</a> </h2>

		<p>When communicating between (i)frames, it's not quite clear which frame communicates with other frames. I made this script to log all communication between frames to the console when using window.postMessage </p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">16</span>
			<span class="month">Dec</span>
			<span class="year">2014</span>
		</p>

		<h2> <a href="{siteurl}/blog/cross-browser-scrolltop">Cross browser scrolltop</a> </h2>

		<p>Cross browser scrolltop in Vanilla Javascript</p>
	</article>


	<article>
		<p class="post-date">
			<span class="day">12</span>
			<span class="month">Nov</span>
			<span class="year">2014</span>
		</p>

		<h2> <a href="{siteurl}/blog/create-guid">Generate a Globally unique identifier (GUID)</a> </h2>

		<p>See how easy it is to generate a random GUID with javascript.</p>
	</article>

</div>
