/**
 * Colors
 */
/**
 * All styling for a blog post
 */
body {
  background-color: #EAEAEA;
  height: 100%; }

.blog-header {
  max-width: 370px;
  min-height: 100%;
  padding: 48px 20px;
  position: absolute;
  right: 0;
  width: 20%; }

.blog-overview, .blog-post {
  background-color: #fafafa;
  margin: 0;
  min-height: 100%;
  padding: 48px 4% 48px 5%;
  position: relative;
  width: 80%; }

.item-navigation {
  margin-top: 50px;
  width: 100%; }
  .item-navigation .previous, .item-navigation .next {
    display: block;
    font-size: 1.2em;
    font-weight: 200;
    position: absolute; }
    .item-navigation .previous:hover, .item-navigation .next:hover {
      border-bottom: 1px solid #3498db; }
  .item-navigation .previous {
    left: 5%;
    text-align: left; }
  .item-navigation .next {
    right: 4%;
    text-align: right; }

.blog-overview article {
  padding-bottom: 1em;
  padding-left: 140px;
  position: relative; }
.blog-overview h2 a {
  color: #333333; }
  .blog-overview h2 a:hover {
    border-bottom: 1px solid #333333; }
.blog-overview .post-date {
  border-bottom: 1px solid #999;
  position: absolute;
  left: 0;
  width: 100px; }
  .blog-overview .post-date .day {
    float: right;
    font-size: 3em;
    line-height: 1;
    padding: 0; }
  .blog-overview .post-date .month {
    color: #666666;
    padding: 0; }
  .blog-overview .post-date .year {
    color: #666666;
    padding: 0; }
