/**
 * Colors
 */
.blog-list {
  background-color: #fafafa;
  margin: 0;
  min-height: 100%;
  padding: 48px 4% 48px 5%;
  position: relative;
  width: 80%; }
  .blog-list article {
    padding-bottom: 1em;
    padding-left: 140px;
    position: relative; }
  .blog-list .post-date {
    border-bottom: 1px solid #999;
    position: absolute;
    left: 0;
    width: 100px; }
    .blog-list .post-date .day {
      float: right;
      font-size: 3em;
      line-height: 1;
      padding: 0; }
    .blog-list .post-date .month {
      color: #666666;
      display: block;
      padding: 0; }
    .blog-list .post-date .year {
      color: #666666;
      display: block;
      padding: 0; }
  .blog-list h2 a {
    color: #333333; }
    .blog-list h2 a:hover {
      border-bottom: 1px solid #333333; }

/**
 * All styling for a blog post
 */
.blog-post {
  background-color: #fafafa;
  margin: 0;
  min-height: 100%;
  padding: 48px 4% 48px 5%;
  position: relative;
  width: 80%; }
  .blog-post .title {
    font-size: 4em; }

.image-placeholder {
  border-bottom: 1px solid #d3d3d3;
  border-top: 1px solid #d3d3d3;
  margin-bottom: 1rem;
  padding: .8rem; }

.item-navigation {
  margin-top: 50px;
  width: 100%; }
  .item-navigation .previous, .item-navigation .next {
    display: block;
    font-size: 1.2em;
    font-weight: 200;
    position: absolute; }
    .item-navigation .previous:hover, .item-navigation .next:hover {
      border-bottom: 1px solid #3498db; }
  .item-navigation .previous {
    left: 5%;
    text-align: left; }
  .item-navigation .next {
    right: 4%;
    text-align: right; }

body {
  background-color: #EAEAEA;
  height: 100%; }

.blog-header {
  max-width: 370px;
  min-height: 100%;
  padding: 48px 20px;
  position: absolute;
  right: 0;
  width: 20%; }
