
html, body {
  color: #333;
  height: 100%;
}
.section {
  padding: 3em 0;
  
  .title {
    font-size: 3.5em;
    margin-bottom: 2rem;
    text-align: center;
  }
}

@import 'modules/hero';
@import 'modules/projects';
