/**
 * All styling for a blog post
 */

.blog-post{
  background-color: $background-color-light;
  margin: 0;
  min-height: 100%;
  padding: 48px 4% 48px 5%;
  position: relative;
  width: 75%;

  .title{
    font-size: 4em;
  }
}
.image-placeholder{
  border-bottom: 1px solid $grey-light;
  border-top: 1px solid $grey-light;
  margin-bottom: 1rem;
  padding: .8rem;
}
.item-navigation{
  margin-top: 50px;
  width: 100%;

  .previous, .next{
    display: block;
    font-size: 1.2em;
    font-weight: 200;
    position: absolute;

    &:hover{
      border-bottom: 1px solid $blue-regular;
    }
  }
  .previous{
    left: 5%;
    text-align: left;
  }
  .next{
    right: 4%;
    text-align: right;
  }
}