.blog-header{
  max-width: 470px;
  min-height: 100%;
  padding: 3em 1em;
  position: absolute;
  right: 0;
  text-align: center;
  width: 25%;

  @include max-small-tablet{
    max-width: none;
    min-height: auto;
    padding: 1em;
    position: static;
    width: 100%;
  }

  .social{
    margin: 4em 0 2em;

     @include max-small-tablet{
      margin: 1em 0 .5em;
     }
  }
}