<!doctype html>
<html ng-app="homepage">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <title>Homepage Elger van Boxtel</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">
    <link href="//elgervanboxtel.nl/labs/component-library/css/styleguide.css" rel="stylesheet">
    <link href="css/styles.css" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.9/angular.js'></script>
  </head>
  <body>
    
    <header class="section hero" ng-init="color='red'" ng-class="color">
      <div class="background"></div>
      <div class="background-controls" >
        <button class="background-control red" ng-click="color='red'" ng-class="{active: color=='red'}"></button>
        <button class="background-control green" ng-click="color='green'" ng-class="{active: color=='green'}"></button>
        <button class="background-control blue" ng-click="color='blue'" ng-class="{active: color=='blue'}"></button>  
      </div>
      <div class="title-container">
        <h1 class="title">Hi, I'm Elger van Boxtel</h1>
        <h2 class="subtitle">... and this is my homepage</h2>
      </div>
    </header>
    
    <section class="section projects">
      <h1 class="title"> projects </h1>
      
      <article class="row project">
        <div class="col-50 screen">
          <a href="http://elgervanboxtel.nl/labs/component-library" target=_BLANK title="Visit component library project">
            <img src="img/project-component-library.png" class="image" alt="Screen of component library project" />
          </a>
        </div>
        <div class="col-50">
          <h1 class="title">Visual Style Guide</h1>
          
          <p class="description">The visual style guide delivers best practises to setup components and several ready to use stylesheets.</p>
          
          <h3>Stylesheets</h3>
          <ol class="count">
            <li><a href="#">reset.css</a>: reset / normalize stylesheet to render components the same across browsers</li>
            <li><a href="#">stylesheet.css</a>: all the styleguide components gathered in one stylesheet</li>
          </ol>
          
          <div class="button-group">
            <a href="https://github.com/elgervb/component-library" class="btn-ghost btn-tiny" target=_BLANK>Github</a>
          </div>
          
          <div class="button-group">
            <a href="http://elgervanboxtel.nl/labs/component-library" class="btn-ghost btn-green" target=_BLANK>Visit Style guide</a>
          </div>
        </div>
      </article>
      
       <article class="row project">
        <div class="col-50 screen">
          <a href="http://elgervanboxtel.nl/labs/base64" target=_BLANK title="Visit base64 encode images for Css project>
            <img src="img/project-base64-encode.png" class="image" alt="Screen of base64 encode project" />
          </a>
        </div>
        <div class="col-50">
          <h1 class="title">Base64 encode images</h1>
          
          <p class="description">Base64 encode uploaded images for use in CSS data url's.</p>
          
          
          <div class="button-group">
            <a href="https://github.com/elgervb/base64site" class="btn-ghost btn-tiny" target=_BLANK>Github</a>
          </div>
          
          <div class="button-group">
            <a href="http://elgervanboxtel.nl/labs/base64" class="btn-ghost btn-green" target=_BLANK>Visit Base64 encode images</a>
          </div>
        </div>
      </article>
      
      <article class="row project">
        <div class="col-50 screen">
          <a href="http://elgervanboxtel.nl/blog" target=_BLANK title="Visit blog">
            <img src="img/project-blog.png" class="image" alt="Screen of blog project" />
          </a>
        </div>
        <div class="col-50">
          <h1 class="title">Blog</h1>
          
          <p class="description">Blog where I experiment with new technology.</p>
          
          <div class="button-group">
            <a href="https://github.com/elgervb/blog" class="btn-ghost btn-tiny" target=_BLANK>Github</a>
          </div>
          
          <div class="button-group">
            <a href="http://elgervanboxtel.nl/blog" class="btn-ghost btn-green" target=_BLANK>Visit Blog</a>
          </div>
        </div>
      </article>
      
    </sections>
    
    <script src='js/vendor.js'></script>
    <script src='js/app.js'></script>
  </body>
</html>
